* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(90deg, #190361 0%, #BB00FF 100%);
	height: 100vh;

	font-family: 'DM Sans', sans-serif;
	font-size: .9375rem;

	animation: gradient 10s ease infinite;
	background-size: 200% 200%;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.screen1, .screen2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	box-shadow: 0rem 1.25rem 3.125rem rgba(0, 0, 0, 0.8);
	border-radius: .3125rem;
	padding: 3rem 4rem 4rem;
	width: 350px;
	height: auto;
}

.hide {
	display: none;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	text-align: center;

	margin-bottom: .9375rem;
}

span {
	text-align: center;
	display: block;
	margin-bottom: 1.125rem;
}

.screen1 img {
	cursor: pointer;
	width: 240px;
	height: 160px;
}

.screen1 img:hover {
	animation: shake 0.5s linear infinite;
	width: 240px;
	height: 160px;
}

.screen2 img {
	display: block;
	margin: 0 auto;
	width: 240px;
	height: 160px;
}

p  {
	font-family: 'Satisfy', cursive;
	font-size: 1.2rem;
	max-width: 18.3125rem;
	background: #E4EDF1;
	padding: .625rem;
	text-align: center;
	margin: 0 auto;
	box-shadow: .125rem .125rem .125rem rgba(85, 85, 85, 0.5);
	animation: 2s spawnPhraseField;
}

button {
	border: none;
	background: #FF9500;
	color: white;
	padding: 1rem;
	border-radius: .25rem;
	margin: 0 auto;
	display: block;
	transition: all 400ms;
	cursor: pointer;
}

button:hover {
	background: #f38e00;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes shake {
	0% {
		transform: rotate(5deg);
	}
	25% {
		transform: rotate(-6deg);
	}
	50% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(-6deg);
	}
	100% {
		transform: rotate(5deg);
	}
}

@keyframes spawnPhraseField {
	0% {
		transform: translateY(9.375rem) scale(0.1);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

@media screen and (max-width: 320px) {
	.screen1, .screen2 {
		width: 90%;
	}

	h1, h2 {
		font-size: 1.2rem;
	}

	.screen1 img {
		width: 150px;
		height: 100px;
	}

	.screen1 img:hover {
		animation: shake 0.5s linear infinite;
		width: 150px;
		height: 100px;
	}

	.screen2 img {
		display: block;
		margin: 0 auto;
		width: 150px;
		height: 100px;
	}
}

@media screen and (min-width: 768px) {
	.screen1, .screen2 {
		width: 600px;
	}

	h1, h2 {
		font-size: 1.5rem;
	}

	.screen1 img {
		width: 300px;
		height: 200px;
	}

	.screen1 img:hover {
		animation: shake 0.5s linear infinite;
		width: 300px;
		height: 200px;
	}

	.screen2 img {
		display: block;
		margin: 0 auto;
		width: 300px;
		height: 200px;
	}

	p {
		font-size: 1.5rem;
	}
}